.header {
  &__tag {
    &-selector {
      color: white;
      position: relative;
      border-radius: 5px;
      width: 235px;
      max-width: 52%;
      height: fit-content;
      overflow: hidden;
      margin: 0 50px 60px 0;
      &:hover {
        overflow-y: auto;
      }
      &.active {
        width: fit-content;
      }
      &[data-tag="ingredients"] {
        background-color: #3282f7;
        .header {
          &__tag {
            &-researcher {
              background-color: #3282f7;
            }
            &-choice {
              &--display {
                &.active {
                  background-color: #3282f7;
                  border-radius: 4px;
                  display: block;
                }
              }
            }
          }
        }
      }
      &[data-tag="appareils"] {
        background-color: #68d9a4;
        .header {
          &__tag {
            &-researcher {
              background-color: #68d9a4;
            }
            &-choice {
              &--display {
                &.active {
                  background-color: #68d9a4;
                  border-radius: 4px;
                  display: block;
                }
              }
            }
          }
        }
      }
      &[data-tag="ustensiles"] {
        background-color: #ed6454;
        .header {
          &__tag {
            &-researcher {
              background-color: #ed6454;
            }
            &-choice {
              &--display {
                &.active {
                  background-color: #ed6454;
                  border-radius: 4px;
                  display: block;
                }
              }
            }
          }
        }
      }
    }
    &-researcher {
      position: sticky;
      display: flex;
      align-items: center;
      justify-content: space-between;
      top: 0;
      padding: 31px 28px;
      & p {
        margin: 0 45px 0 0;
        &:first-letter {
          text-transform: capitalize;
        }
        &.active {
          display: none;
        }
      }
      & input {
        color: white;
        display: none;
        background-color: transparent;
        outline: none;
        border: none;
        width: 100%;
        &::placeholder {
          color: white;
          opacity: 0.5;
        }
        &.active {
          display: block;
        }
      }
      & svg {
        fill: white;
        height: 20px;
        width: 24px;
        cursor: pointer;
        &.active {
          transform: rotate(-180deg);
        }
      }
    }
    &-choice {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      overflow: hidden;
      padding: 10px 20px 5px 20px;
      &--display {
        display: none;
        height: 371px;
      }
      & p {
        flex: 0 0 27%;
        margin: 0 0 12px 0;
        cursor: pointer;
        &:first-letter {
          text-transform: capitalize;
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .header {
    &__tag {
      &-selector {
        max-width: 60%;
        margin: 0 35px 35px 0;
      }
    }
  }
}

@media (max-width: 886px) {
  .header {
    &__tag {
      &-selector {
        max-width: 100%;
        &.active {
          margin: 0 0 35px 0;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .header {
    &__tag {
      &-selector {
        width: 100%;
        margin: 0 0 35px 0;
      }
      &-choice {
        & p {
          flex: 0 0 44%;
          margin: 0 0 18px 0;
        }
      }
      &-researcher {
        padding: 31px 20px;
      }
    }
  }
}
