.header {
  &__tag {
    &-selector {
      color: white;
      position: relative;
      border-radius: 5px;
      width: fit-content;
      max-width: 52%;
      height: fit-content;
      margin: 0 50px 60px 0;
      &.active {
        margin: 0 50px 120px 0;
      }
      &[data-tag="ingredient"] {
        background-color: #3282f7;
        .header {
          &__tag {
            &-choice {
              &--display {
                &.active {
                  background-color: #3282f7;
                  border-radius: 4px;
                  display: block;
                }
              }
            }
          }
        }
      }
      &[data-tag="appliance"] {
        background-color: #68d9a4;
        .header {
          &__tag {
            &-choice {
              &--display {
                &.active {
                  background-color: #68d9a4;
                  border-radius: 4px;
                  display: block;
                }
              }
            }
          }
        }
      }
      &[data-tag="ustensil"] {
        background-color: #ed6454;
        .header {
          &__tag {
            &-choice {
              &--display {
                &.active {
                  background-color: #ed6454;
                  border-radius: 4px;
                  display: block;
                }
              }
            }
          }
        }
      }
    }
    &-researcher {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 31px 28px;
      & p {
        margin: 0 45px 0 0;
        &.active {
          display: none;
        }
      }
      & input {
        color: white;
        display: none;
        background-color: transparent;
        outline: none;
        border: none;
        width: 100%;
        &::placeholder {
          color: white;
          opacity: 0.5;
        }
        &.active {
          display: block;
        }
      }
      & svg {
        fill: white;
        height: 20px;
        width: 19px;
        &.active {
          transform: rotate(-180deg);
        }
      }
    }
    &-choice {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      overflow: hidden;
      padding: 10px 20px 5px 20px;
      &--display {
        display: none;
      }
      & p {
        flex: 0 0 33.2%;
        margin: 0 0 12px 0;
      }
    }
  }
}
